<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <div class="col-xs-2 col-sm-2 col-md-5 col-sm-offset-2 col-md-offset-1">
            <a href="?lang=EN" th:text="#{header.lang.en}"></a>
            <a href="?lang=RU" th:text="#{header.lang.ru}"></a>
        </div>
        <h5 class="my-0 mr-md-auto font-weight-normal">Online Store</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a sec:authorize="hasAuthority('ADMIN')">
                <a class="btn btn-warning" th:href="@{/admin}" th:text="#{header.button.admin}"></a>
            </a>

            <a sec:authorize="!isAuthenticated()">
                <a class="btn btn-primary" th:href="@{/}" th:text="#{header.button.home}">Main Page</a>
            </a>

            <a sec:authorize="hasAuthority('ADMIN')">
                <a class="btn btn-primary" th:href="@{/user/}" th:text="#{header.button.home}">Main Page</a>
            </a>
            <a sec:authorize="hasAuthority('USER')">
                <a class="btn btn-primary" th:href="@{/user/}" th:text="#{header.button.home}">Main Page</a>
            </a>


<!--            <a class="btn btn-primary" href="/cart">Cart</a>-->
            <a sec:authorize="!isAuthenticated()">
                <a class="btn btn-primary" th:href="@{/login}" th:text="#{header.button.cart}">Cart</a>
            </a>

            <a sec:authorize="hasAuthority('ADMIN')">
                <a class="btn btn-primary" th:href="@{/user/cart}" th:text="#{header.button.cart}">Cart</a>
            </a>
            <a sec:authorize="hasAuthority('USER')">
                <a class="btn btn-primary" th:href="@{/user/cart}" th:text="#{header.button.cart}">Cart</a>
            </a>




            <a sec:authorize="!isAuthenticated()">
                <a class="btn btn-primary" th:href="@{/login}" th:text="#{header.button.login.registration}">Login</a>
            </a>

            <a sec:authorize="hasAuthority('ADMIN')">
                <a class="btn btn-primary" th:href="@{/admin/account}" th:text="#{header.button.account}">Account</a>
            </a>
            <a sec:authorize="hasAuthority('USER')">
                <a class="btn btn-primary" th:href="@{/user/account}" th:text="#{header.button.account}">Account</a>
            </a>

            <a sec:authorize="isAuthenticated()">
                <a class="btn btn-primary" th:href="@{/logout}" th:text="#{header.button.logout}">Logout</a>
            </a>
        </nav>

    </div>
</div>