<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <title>Error page</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div th:include="./fragments/header.html"></div>
<hr>

<h3 th:align="center" th:text="${errorString}"></h3>


<div th:include="./fragments/footer.html"></div>
</body>
</html>