<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Main's Main Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
    <script src="../static/js/jquery-2.1.4_min.js" th:src="@{/js/jquery-2.1.4_min.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>


<main role="main">

    <div class="container">
<!--        <h2 align="center">Products</h2>-->
<!--        TEST-->
        <form>
            <p th:text="#{homePage.sortByCategory.title}"><strong>Category</strong></p>
            <p><select name="category">
                <option value="all" th:text="#{homePage.sortByCategory.option.All}">All</option>
                <option value="1">Books</option>
                <option value="3">Gadgets</option>
                <option value="5">Furniture</option>
                <option value="4">Toys</option>
                <option value="2">Groceries</option>
            </select>
                <input type="submit" th:value="#{homePage.button.submit}"></p>
        </form>
<!--        TEST-->
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>
                    <a th:text="#{homePage.table.label.name}"></a>
                    <a class="btn btn-dark btn-sm" th:href="@{'/?category={catId}&sortBy=nameAsc'(catId=${category})}" role="button">↓</a>
                    <a class="btn btn-dark btn-sm" th:href="@{'/?category={catId}&sortBy=nameDesc'(catId=${category})}" role="button">↑</a>
                </th>
                <th th:text="#{homePage.table.label.quantity}">Quantity</th>
                <th>
                    <a th:text="#{homePage.table.label.price}"></a>
                    <a class="btn btn-dark btn-sm" th:href="@{'/?category={catId}&sortBy=priceAsc'(catId=${category})}" role="button">↓</a>
                    <a class="btn btn-dark btn-sm" th:href="@{'/?category={catId}&sortBy=priceDesc'(catId=${category})}" role="button">↑</a>
                </th>
                <th th:text="#{homePage.table.label.category}">Category</th>
                <th th:text="#{homePage.table.label.description}">Description</th>
                <th>
                    <a th:text="#{homePage.table.label.pubDate}"></a>
                    <a align="right" class="btn btn-dark btn-sm" th:href="@{'/?category={catId}&sortBy=pubDateAsc'(catId=${category})}" role="button">↓</a>
                    <a align="right" class="btn btn-dark btn-sm" th:href="@{'/?category={catId}&sortBy=pubDateDesc'(catId=${category})}" role="button">↑</a>
                </th>
                <th th:text="#{homePage.table.label.Action}">Action</th>


            </tr>

            </thead>

            <tbody>

<!--            <tr th:each="note, iterationStatus : ${notes}">-->

            <tr th:each ="product, iterationStatus : ${products}">
                <td th:utext="${product.name}" />
                <td th:utext="${product.quantity}" />
<!--                <td th:utext="${product.price}" />-->
                <td>
                    <p th:if="${#locale.getISO3Language() == 'eng'}" th:text="${product.price}"></p>
                    <p th:if="${#locale.getISO3Language() == 'rus'}" th:text="${product.price * 28}"></p>
                </td>
                <td th:utext="${product.category.getName()}" />
                <td th:utext="${product.description}" />
                <td th:utext="${product.createDate}" />
                <td>
                    <a sec:authorize="!isAuthenticated()">
                        <a class="btn btn-primary btn-sm" th:href="@{/login}" th:text="#{homePage.table.button.addToCart}">Add to Cart</a>
                    </a>
                    <a sec:authorize="hasAuthority('ADMIN')">
                        <a class="btn btn-primary btn-sm" th:href="@{/user/cart}" th:text="#{homePage.table.button.addToCart}">Add to Cart</a>
                    </a>
<!--                    <a sec:authorize="hasAuthority('USER')">-->
<!--                        <a class="btn btn-primary btn-sm" th:href="@{'/user/cart/addproduct/{productId}'(productId=${product.id})}"-->
<!--                        th:if="${product.quantity}>0">-->
<!--                            <button type="button" class="btn btn-primary btn-sm" th:text="Add to Cart">Add to Cart</button>-->
<!--                        </a>-->
<!--                    </a>-->
                    <a th:href="@{'/user/cart/addproduct/{productId}'(productId=${product.id})}" class="col-md-1"
                       sec:authorize="hasAuthority('USER')" th:if="${product.quantity}>0">
                        <button type="button" class="btn btn-primary btn-sm" th:text="#{homePage.table.button.addToCart}">Buy</button>
                    </a>

<!--                    <a sec:authorize="hasAuthority('USER')" th:if="${cartProducts.contains(product)}">-->
<!--                        <button type="button" class="btn btn-primary btn-sm" th:text="Added">Added</button>-->
<!--                    </a>-->

                </td>
            </tr>
            </tbody>
        </table>



        <div class="row">
            <div class="col-sm-5">
                <div class="pagination">
                    <p>Showing <span class="badge badge-info" th:text="${page.size * (page.number - 1) + 1}"></span> to
                        <span class="badge badge-info"
                              th:text="${page.lastPage ? page.totalElements : page.size * (page.number - 1)+ page.size}"></span>
                        of <span
                                class="badge badge-info" th:text="${page.totalElements}"></span> Products</p>
                </div>
            </div>

<!--            <div class="col-sm-7">-->
                <!-- Pagination Bar -->
            <nav aria-label="Navigation for products">
                <div class="text-center">
                    <ul class='pagination pagination-centered'>
                        <li class="page-item"><a class="page-link"
                                                 th:href='@{${page.url}(page=0,size=${page.size}, category=${category}, sortBy=${sortBy})}'>First</a>
                            <input type="hidden" name="category" value="${category}">
                        </li>
                        <li class="page-item">
                            <a class="page-link"
                               th:href='@{${page.url}(page=${page.number - 2},size=${page.size},category=${category},sortBy=${sortBy})}'
                               title='Go to previous page'>«</a>
                        </li>


                        <div th:each="item : ${page.items}">
                            <li class="page-item active" th:if="${item.current}"><a class="page-link" th:text="${item.number}">
                                ${i} <span class="sr-only">(current)</span></a>
                                <input type="hidden" name="category" value="${category}">
                            </li>
                            <li class="page-item" th:if="${not item.current}"><a class="page-link"
                                    th:href="@{${page.url}(page=${item.number - 1},size=${page.size})}" th:text="${item.number}"></a>

                            </li>
                        </div>

<!--                        <li th:each='item : ${page.items}' class="page-item">-->
<!--                            <span  th:if='${item.current}' th:text='${item.number}'>1</span>-->
<!--                            <a th:if='${not item.current}'-->
<!--                               th:href='@{${page.url}(page=${item.number - 1},size=${page.size})}'><span-->
<!--                                    th:text='${item.number}'>1</span></a>-->
<!--                        </li>-->


                        <li class="page-item">
                            <a class="page-link"
                               th:href='@{${page.url}(page=${page.number},size=${page.size},category=${category},sortBy=${sortBy})}'
                               title='Go to next page'>»</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link"
                               th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size},category=${category},sortBy=${sortBy})}'>Last</a>
                        </li>
                    </ul>
                </div>
            </nav>

<!--        </div>-->
    </div>






</main>



</body>
</html>