<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .center {
            width: 400px; /* Ширина элемента в пикселах */
            padding: top 20px;/*20px; /* Поля вокруг текста */
            margin: auto; /* Выравниваем по центру */
            /* Цвет фона */
        }
    </style>
</head>
<body>

<div class="center">

    <div class="center" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form th:method="POST" th:action="@{/registration}" th:object="${user}">
                <fieldset class="center">
                    <h1 align="center" th:text="#{registrationPage.title}">Registration</h1>
                    <div>
                        <label for="firstName"></label>
                        <input type="text" class="form-control" th:field="*{firstName}" id="firstName" th:placeholder="#{registrationPage.label.firstName}">
                        <p class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
                    </div>
                    <div>
                        <label for="lastName"></label>
                        <input type="text" class="form-control" th:field="*{lastName}" id="lastName" th:placeholder="#{registrationPage.label.lastName}">
                        <p class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
                    </div>
                    <div>
                        <label for="email"></label>
                        <input type="text" class="form-control" th:field="*{email}" id="email" placeholder="Email">
                        <p class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                        <div style="color:red">
                            <td th:text="${userEmailError}"></td>
                        </div>
                    </div>
                    <div>
                        <label for="password"></label>
                        <input type="password" class="form-control" th:field="*{password}" id="password" th:placeholder="#{registrationPage.label.password}">
                        <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                    </div>

                    <div style="margin-top: 16px">
                        <div> <!--class="col-xs-6 col-sm-6 col-md-6"-->
                            <input type="submit" class="btn btn-lg btn-success btn-block" th:value="#{registrationPage.button.submit}"/>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</div>

</body>
</html>



<!--<h2>Registration</h2>-->

<!--<form th:method="POST" th:action="@{/registration}" th:object="${user}">-->
<!--    <label for="firstName">First Name: </label>-->
<!--    <input type="text" th:field="*{firstName}" id="firstName"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</div>-->
<!--    <br/>-->
<!--    <label for="lastName">Last Name: </label>-->
<!--    <input type="text" th:field="*{lastName}" id="lastName"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</div>-->
<!--    <br/>-->
<!--    <label for="email">Email: </label>-->
<!--    <input type="text" th:field="*{email}" id="email"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>-->
<!--    <div style="color:red">-->
<!--        <td th:text="${userEmailError}">1</td>-->
<!--    </div>-->
<!--    <br/>-->
<!--    <label for="password">Password: </label>-->
<!--    <input type="text" th:field="*{password}" id="password"/>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>-->
<!--    <br/>-->
<!--    <input type="submit" value="Create!"/>-->
<!--</form>-->
