<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>E-Commerge Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .center {
            width: 400px;
            padding: top 20px;
            margin: auto;
        }
    </style>
</head>

<body>

<div th:include="./fragments/header.html"></div>

<div class="center">

    <div class="center" style="margin-top:20px">
        <fieldset class="center">
            <h1 th:align="center">Admin Home Page</h1>

            <div class="d-grid gap-3">
                <a class="btn btn-primary" href="/admin/orders" role="button">Orders</a>

                <a class="btn btn-primary" href="/admin/users" role="button ">Users</a>

                <a class="btn btn-primary" href="/admin/products/show"
                        role="button">Products
                </a>
            </div>
        </fieldset>
    </div>
</div>


<div th:include="./fragments/footer.html"></div>
</body>
</html>