<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>E-Commerce Admin </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:include="./fragments/header.html"></div>

<div class="container">
    <h3 th:align="center" th:text="'Order no. ' + *{orderId}"></h3>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Description</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="orderedProduct : ${orderedProducts}">
            <td th:utext="${orderedProduct.getName()}"/>
            <td th:utext="${orderedProduct.getPrice()}"/>
            <td th:utext="${orderedProduct.getQuantity()}"/>
            <td th:utext="${orderedProduct.getDescription()}"/>

        </tr>
        </tbody>
    </table>
    <p align="right" th:text="'Total sum: ' + ${totalPrice} + '$'"></p>

    <a th:align="right" th:href="@{'/admin/orders'}" class="col-md-1">
        <button type="button" class="btn btn-info" value="Order" style="float: right">Back</button>
    </a>


</div>


<div th:include="./fragments/footer.html"></div>

</body>
</html>