<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>E-Commerce Admin </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div th:include="./fragments/header.html"></div>

<div class="container">
    <h2 align="center">Not Approved Orders</h2>
    <table class="table table-bordered table-striped">
        <thead class="table-secondary">
        <tr>
            <th>Order Id</th>
            <th>User</th>
            <th>Address</th>
            <th>Phone number</th>
            <th>Date</th>
            <th>Is Approved</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="notApprovedOrder : ${notApprovedOrders}">
            <td th:utext="${notApprovedOrder.getId()}"/>
            <td th:utext="${notApprovedOrder.getUser().getFirstName() + ' ' + notApprovedOrder.getUser().getLastName()}"/>
            <td th:utext="${notApprovedOrder.getUser().getAddress().getCity() +', St. ' +
            notApprovedOrder.getUser().getAddress().getStreetName() + ', no.' +
            notApprovedOrder.getUser().getAddress().getStreetNumber() + ', Zipcode: ' +
            notApprovedOrder.getUser().getAddress().getZipCode()}"/>
            <td th:utext="${notApprovedOrder.getUser().getAddress().getContact()}"/>
            <td th:utext="${notApprovedOrder.getOrderDate()}"/>
            <td th:utext="${notApprovedOrder.isApproved()}"/>

            <td>
                <a th:href="@{/admin/orders/approve(orderId=${notApprovedOrder.id})}"
                   class="btn btn-success btn-sm">
                    Approve
                </a>
                <a th:href="@{/admin/orders/decline(orderId=${notApprovedOrder.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to decline this order?'))) return false">
                    Decline
                </a>
                <a th:href="@{/admin/orders/{orderId}(orderId=${notApprovedOrder.getId()})}"
                   class="btn btn-warning btn-sm">
                    Details
                </a>


            </td>

        </tr>
        </tbody>

    </table>

</div>


<div class="container">

    <h2 align="center">Approved Orders</h2>
    <table class="table table-bordered table-striped">
        <thead class="table-succes">
        <tr>
            <th>Order Id</th>
            <th>User</th>
            <th>Address</th>
            <th>Phone number</th>
            <th>Date</th>
            <th>Is Approved</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="approvedOrder : ${approvedOrders}">
            <td th:utext="${approvedOrder.getId()}"/>
            <td th:utext="${approvedOrder.getUser().getFirstName() + ' ' + approvedOrder.getUser().getLastName()}"/>
            <td th:utext="${approvedOrder.getUser().getAddress().getCity() +', St. ' +
            approvedOrder.getUser().getAddress().getStreetName() + ', no.' +
            approvedOrder.getUser().getAddress().getStreetNumber() + ', Zipcode: ' +
            approvedOrder.getUser().getAddress().getZipCode()}"/>
            <td th:utext="${approvedOrder.getUser().getAddress().getContact()}"/>
            <td th:utext="${approvedOrder.getOrderDate()}"/>
            <td th:utext="${approvedOrder.isApproved()}"/>

            <td>
                <a th:href="@{/admin/orders/{orderId}(orderId=${approvedOrder.getId()})}"
                   class="btn btn-warning btn-sm">
                    Details
                </a>

        </tr>
        </tbody>

    </table>

</div>


<div th:include="./fragments/footer.html"></div>
</body>
</html>