<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>E-Commerce</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">


</head>
<body>

	<div th:include="./fragments/header.html"></div>
	<br>

	<div class="container">
		<table id="example" class="table table-bordered">
			<thead>
				<tr>
					<th>Product No.</th>
					<th>Name</th>
					<th>Image</th>
					<th>Description</th>
					<th>Price</th>
					<th>Created date</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tr th:each="productList, hh : ${product}">
				<td th:text="${productList.id}"></td>
				<td th:text="${productList.name}"></td>
				<td><img
					th:src="@{${'/product/display/'+ productList.id}}"
					class="card img-fluid" style="width: 90px" alt="center" /></td>
				<td th:text="${productList.description}"></td>
				<td th:text="${productList.price} + '$'"></td>
				<td
					th:text="${#dates.format({productList.createDate}, 'dd-MM-yyyy')}" /></td>

				<td><a
					th:href="@{/product/productDetails(id=${productList.id})}"
					class="btn btn-info text-right" target="_blank">View</a>
					<a
					th:href="@{/admin/deleteProduct/{id}(id=${productList.id})}"
					class="btn btn-danger" target="_blank">Delete</a></td>



			</tr>
			</tbody>
		</table>
		<div align="center">
			<a th:href="@{/admin/showNewProductForm}" class="btn btn-primary">
				Add Product </a>
		</div>
		<br>
		<br>

	</div>

	<div th:include="./fragments/footer.html"></div>
</body>
</html>