<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

<main role="main">

    <div class="container">

        <!--        TEST-->
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Description</th>
                <th>Publication Date</th>
                <th>Action</th>


            </tr>

            </thead>

            <tbody>
            <tr th:each="product : ${products}">
                <td th:utext="${product.name}"/>
                <td th:utext="${product.quantity}"/>
                <td th:utext="${product.price}"/>
                <td th:utext="${product.description}"/>
                <td th:utext="${product.createDate}"/>
                <td>
                    <!--                    <a sec:authorize="!isAuthenticated()">-->
                    <!--                        <a class="btn btn-primary btn-sm" th:href="@{/login}">Add to Cart</a>-->
                    <!--                    </a>-->
                    <a sec:authorize="hasAuthority('ADMIN')">
                        <a class="btn btn-primary btn-sm" th:href="@{/user/cart}"
                           th:text="#{userHomePage.table.button.addToCart}">Add to Cart</a>
                    </a>
                    <!--                    <a sec:authorize="hasAuthority('USER')">-->
                    <!--                        <a class="btn btn-primary btn-sm" th:href="@{'/user/cart/addproduct/{productId}'(productId=${product.id})}"-->
                    <!--                        th:if="${product.quantity}>0">-->
                    <!--                            <button type="button" class="btn btn-primary btn-sm" th:text="Add to Cart">Add to Cart</button>-->
                    <!--                        </a>-->
                    <!--                    </a>-->
                    <a th:href="@{'/user/cart/addproduct/{productId}'(productId=${product.id})}" class="col-md-1"
                       sec:authorize="hasAuthority('USER')">
                        <button type="button" class="btn btn-primary btn-sm" onclick="alert('Added to Cart')"
                                th:text="#{userHomePage.table.button.addToCart}">Add to Cart
                        </button>
                    </a>

                    <!--                    <a sec:authorize="hasAuthority('USER')" th:if="${cartProducts.contains(product.id)}">-->
                    <!--                        <button type="button" class="btn btn-primary btn-sm" th:text="Added">Added</button>-->
                    <!--                    </a>-->

                </td>
            </tr>
            </tbody>
        </table>
    </div>

</main>


</body>
</html>