<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>E-Commerce User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .center {
            width: 400px;
            padding: top 20px;
            margin: auto;
        }
    </style>
</head>
<body>
<div th:include="./fragments/header.html"></div>

<div class="center">

    <div class="center" style="margin-top:10px">
        <div class="col-xs-10 col-sm-10 col-md-8 col-sm-offset-2 col-md-offset-3">
            <form th:method="POST" th:action="@{/user/account/{userId}(userId=${user.id})}" th:object="${user}">
                <fieldset class="center">
                    <h3 th:align="center" th:text="${user.firstName} + ' ' + ${user.lastName}"></h3>
                    <hr>
                    <div>
                        <label for="firstName">First Name: </label>
                        <input type="text" class="form-control" th:field="*{firstName}" id="firstName"
                               placeholder="Firstname">
                        <p class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
                    </div>
                    <div>
                        <label for="lastName">Last Name: </label>
                        <input type="text" class="form-control" th:field="*{lastName}" id="lastName"
                               placeholder="#Lastname">
                        <p class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
                    </div>
                    <div>
                        <input type="password" class="form-control" th:field="*{password}" id="password"
                               placeholder="Password" required autofocus="autofocus">
                        <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                    </div>
                    <div>
                        <label for="city">City: </label>
                        <input type="text" class="form-control" th:field="*{city}" id="city"
                               placeholder="#City">
                        <p class="text-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></p>
                    </div>
                    <div>
                        <label for="street">Street name: </label>
                        <input type="text" class="form-control" th:field="*{street}" id="street"
                               placeholder="#street" >
                        <p class="text-danger" th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></p>
                    </div>
                    <div>
                        <label for="streetNumber">Street number: </label>
                        <input type="number" class="form-control" th:field="*{streetNumber}" id="streetNumber"
                               placeholder="#streetNumber">
                        <p class="text-danger" th:if="${#fields.hasErrors('streetNumber')}"
                           th:errors="*{streetNumber}"></p>
                    </div>
                    <div>
                        <label for="phoneNumber">Phone number: </label>
                        <input type="number" class="form-control" th:field="*{phoneNumber}" id="phoneNumber"
                               placeholder="#phoneNumber">
                        <p class="text-danger" th:if="${#fields.hasErrors('phoneNumber')}"
                           th:errors="*{phoneNumber}"></p>
                    </div>

                    <div style="margin-top: 10px">
                        <div>
                            <input type="submit" class="btn btn-lg btn-success btn-block"/>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>


</div>

<div th:include="./fragments/footer.html"></div>
</body>
</html>