<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>

body{
  margin: 0px;
  padding: 0px;
}

.header-container {
	overflow: hidden;
	height: 50px;
    text-align: left;
    position: relative;
    background: #336;
    color: white;
}
.header-container .header-bar  {
    position: absolute;
    right: 10px;
    bottom: 20px;
}
.header-container .header-bar  a  {
    color: white;
    font-size: bold;
}

.site-name {
	
    font-size:200%;
    margin:10px 20px 10px 15px;
    padding: 1px;
}

  

  
</style>
</head>
<body>

	<div class="header-container"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
 
   <div class="site-name">E-Commerce</div>
   
   <div class="header-bar">
      <th>
         <a th:href="@{/logout}">Logout</a>
      </th>
       
      
   </div>
   
</div>


</body>
</html>